// typography
h1, h2, h3, h4 {
  font-weight: $body-font-weight-bold;
  margin-top: 0;
  margin-bottom: .4em;
}

h1 {
  font-size:4.42em;

  &#logo {
    color: $main-color;
    margin-bottom:0;
  }
}

h2 {
  font-size:3.316em;

  &#slogan {
    color: $mixed-main-white;
  }
}

h3 {
  font-size:2.488em;
}

h4 {
  font-size:1.866em;
}

p {
  font-size:1.4em;
  line-height:$body-line-height;
  max-width: 30em;
}
