// variables
$body-font-family: 'Droid Sans', Helvetica, sans-serif;
$body-font-weight-normal: 400;
$body-font-weight-bold: 700;
$body-line-height: 1.4;

$default-padding: 3em;
$default-margin: 1em;


/* MAYBE A BETTER COLOR SCHEME

Dark        #373737
Brownish    #807065
Cream       #fff1b9
Orange      #fd5b0b
Red         #ff0100

*/

// new colors
$dark: #373737;
$brownish: #807065;
$cream: #fff1b9;
$orange: #fd5b0b;
$red: #ff0100;

// colors
$main-color: hsl(20,100%, 50%);
$complementary-color: complement($main-color);

// neutral palette for main color
$soft-main-color: harmonious-mix($complementary-color, $main-color);
$mixed-main-complementary: mix-neutral($soft-main-color);
$mixed-main-white: lighten($mixed-main-complementary, 33);
$mixed-main-black: darken($mixed-main-complementary, 33);
$desaturated-main-color: desaturate-neutral($soft-main-color);

// neutral palette for secondary color
$soft-secondary-color: harmonious-mix($main-color, $complementary-color);
$mixed-secondary-complementary: mix-neutral($soft-secondary-color);
$mixed-secondary-white: lighten($mixed-secondary-complementary, 33);
$mixed-secondary-black: darken($mixed-secondary-complementary, 33);
$desaturated-secondary-color: desaturate-neutral($soft-secondary-color);
