// bower:scss
// endbower

@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

// variables
$body-font-family: 'Droid Sans', Helvetica, sans-serif;
$body-font-weight-normal: 400;
$body-font-weight-bold: 700;

// typography
h1, h2, h3, h4 {
  font-weight: $body-font-weight-bold;
}

body {
  background: #fafafa;
  font-family: $body-font-family;
  font-weight: $body-font-weight-normal;
  color: #333;
}

header {
  min-height:90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
