// bower:scss
// endbower

@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

@import "functions";
@import "variables";
@import "typography";
@import "mediaqueries";

*, *::after, *::before {
  box-sizing: border-box;
}

//Main container
.main-container {
  width: 100%;
  //Change this value to ANYTHING you want, no need to edit anything else
  max-width: 1440px;
  //Any value you want
  //padding: 0 1.67%;
  margin: auto;
}

//Flexbox container
.flex-container {
  margin-bottom: 10px;
  //Remove the margin from the last flexbox container
  &:last-of-type {
    margin-bottom: 0;
  }
  @include forLargeScreens(640) {
    display: flex;
  }
}


/* Slideshow container */
.slideshow-container {
  //max-width: 1000px;
  position: relative;
  margin: auto;
  min-height:70vh;
}

.mySlides {
  justify-content: space-around;
  align-items: center;

  img {
    width:300px;
    height: 520px;

    &.select-car {
      background: url(../images/Selectacar.png) no-repeat center;
      background-size: 80%;
    }

    &.unlock {
      background: url(../images/Unlock.png) no-repeat center;
      background-size: 80%;
    }
  }
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  display: inline-block;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

// General styling

form {
  align-items: center;
}

input {
  font-size:1em;
  padding:$default-padding/4;
  margin:$default-margin;
  border:0;
  border-radius:3px;
  min-width:15em;
}

button {
  @extend input;
  background: $soft-main-color;
  color: $mixed-main-white;
  min-width:auto;
}

body {
  background: #fafafa;
  font-family: $body-font-family;
  font-weight: $body-font-weight-normal;
  font-size:1.4em;
  color: #333;

  margin: 0;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index:1;
  background: rgba(0,0,0,.3);

  @include forLargeScreens(640) {
    margin-right: 1.67%;
  }

  ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    padding-top:$default-padding/4;
    padding-bottom:$default-padding/4;
    margin: 0;


    justify-content: flex-end;
  }

  a {
    color: #ccc;
    margin-right:$default-padding/2;
    padding: $default-padding/4;
    text-decoration: none;
  }
}

header {
  min-height:70vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  video {
    position: absolute;
    min-height: 100%;
    width: 100%;
    top: -15%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -100;
  }
}

main {

  section {
    padding: $default-padding;
    min-height:50vh;

    &#cars {
      background: $mixed-secondary-white;
      //filter: blur(4px);
      background-size:cover;
      color: $mixed-secondary-black;
    }

    &#how-works {
      background: $soft-main-color;
      color: $mixed-main-black;
    }

    &#faq{

      .square {
        width:100px;
        height: 100px;
        display: inline-block;
        margin-right:10px;
        border:1px solid black;

        &.main {
          &.one {
            background: $main-color;
            margin-right:50px;
          }

          &.two {
            background: $soft-main-color;
          }

          &.three {
            background: $mixed-main-complementary;
          }

          &.four {
            background: $mixed-main-white;
          }

          &.five {
            background: $mixed-main-black;
          }

          &.six {
            background: $desaturated-main-color;
          }
        }

        &.secondary {
          &.one {
            background: $complementary-color;
            margin-right:50px;
          }

          &.two {
            background: $soft-secondary-color;
          }

          &.three {
            background: $mixed-secondary-complementary;
          }

          &.four {
            background: $mixed-secondary-white;
          }

          &.five {
            background: $mixed-secondary-black;
          }

          &.six {
            background: $desaturated-secondary-color;
          }
        }
      }
    }

    &#pricing {
      flex-direction: column;
      background: $mixed-main-white;
      //color: $soft-main-complementary;

      article {
        padding: $default-padding;
        color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        flex-basis:calc(50% - #{$default-margin});

        &:first-of-type {
          background: $mixed-secondary-complementary;
          margin-right:$default-margin;
        }

        &:last-of-type {
          background: $mixed-main-complementary;
          margin-left:$default-margin;
        }
      }
    }

    &#call-to-action {
      font-size:.8em;
      width: 100%;
      position: fixed;
      bottom:0;

      justify-content: space-around;
      align-items: center;
      padding:$default-padding/3;
      min-height: 10vh;
      background: $soft-secondary-color;

      p {
        flex-basis: 60%;
        max-width:50em;
      }

      //form {
      //  flex-basis: 40%;
      //}
    }
  }
}

footer {
  padding:$default-padding;
  margin-bottom:10vh;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
