// bower:scss
// endbower

@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

@import "functions";

// variables
$body-font-family: 'Droid Sans', Helvetica, sans-serif;
$body-font-weight-normal: 400;
$body-font-weight-bold: 700;
$body-line-height: 1.4;


$default-padding: 3em;
$default-margin: 1em;

// colors
$main-color: hsl(20,100%, 50%);
$complementary-color: complement($main-color);

// neutral palette for main color
$soft-main-color: harmonious-mix($complementary-color, $main-color);
$mixed-main-complementary: mix-neutral($soft-main-color);
$mixed-main-white: lighten($mixed-main-complementary, 33);
$mixed-main-black: darken($mixed-main-complementary, 33);
$desaturated-main-color: desaturate-neutral($soft-main-color);

// neutral palette for secondary color
$soft-secondary-color: harmonious-mix($main-color, $complementary-color);
$mixed-secondary-complementary: mix-neutral($soft-secondary-color);
$mixed-secondary-white: lighten($mixed-secondary-complementary, 33);
$mixed-secondary-black: darken($mixed-secondary-complementary, 33);
$desaturated-secondary-color: desaturate-neutral($soft-secondary-color);

// typography
h1, h2, h3, h4 {
  font-weight: $body-font-weight-bold;
  margin-top: 0;
  margin-bottom: .4em;
}

h1 {
  font-size:5.062em;

  &#logo {
    color: $main-color;
    margin-bottom:0;
  }
}

h2 {
  font-size:3.375em;

  &#slogan {
    color: $mixed-main-white;
  }
}

h3 {
  font-size:2.25em;
}

h4 {
  font-size:1.5em;
}

p {
  line-height:$body-line-height;
  max-width: 30em;
}

// Slider code
/*

*/

// General styling

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: $body-font-family;
  font-weight: $body-font-weight-normal;
  font-size:1.4em;
  color: #333;

  margin: 0;
}

header {
  min-height:80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  video {
    position: absolute;
    min-height: 100%;
    width: 100%;
    top: -15%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -100;
  }
}

main {

  section {
    padding: $default-padding;
    min-height:50vh;

    &#how-works {
      background: $soft-main-color;
      color: $mixed-main-black;

      #slideshow {
        //position: relative;
        //-webkit-font-smoothing: antialiased;
        //-moz-osx-font-smoothing: grayscale;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        padding: 0;

        .hero-slider {
          padding-left: 0;
          list-style-type:none;

          .is-moving .cd-half-width {
            /* this is the slide moving outside the viewport
            wait for the end of the transition on the <li> parent before set opacity to 0 and translate to 40px/-40px */
            transition: opacity 0s 0.5s, transform 0s 0.5s;
          }

          li {
            display: inline-block;
            width: 100%;

            &.selected {
              /* this is the visible slide */
              //position: relative;
              transform: translateX(0);

              &.from-left, &.from-right {
                /* this is the selected slide - different animation if it's entering from left or right */
                transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
              }
            }

            &:nth-child(2) {
              transform: translateX(120%);
            }

            &.move-left {
              /* slide hidden on the left */
              transform: translateX(-100%);
            }

            &.is-moving, &.selected {
              /* the is-moving class is assigned to the slide which is moving outside the viewport */
              transition: transform 0.5s;
            }

            &.is-moving {
              /* this is the slide moving outside the viewport
              wait for the end of the transition on the li parent before set opacity to 0 and translate to 100px/-100px */
              transition: opacity 0s 0.5s, transform 0s 0.5s;
            }
          }
        }

        .slider-nav {
          background: rgba($mixed-secondary-white, .5);

          &.marker {
            transition: transform 0.2s, box-shadow 0.2s;

            &.item-2 {
              transform: translateX(100%);
            }

            &.item-3 {
              transform: translateX(200%);
            }
          }


          ul {
            padding-left: 0;
            display: flex;
            justify-content: space-around;

            list-style-type: none;

            li {
              display: inline-block;

              a {
                color: $mixed-main-black;

                &, &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }

    &#cars {
      background: $mixed-secondary-white;
      color: $mixed-secondary-black;
    }

    &#faq{

      .square {
        width:100px;
        height: 100px;
        display: inline-block;
        margin-right:10px;
        border:1px solid black;

        &.main {
          &.one {
            background: $main-color;
            margin-right:50px;
          }

          &.two {
            background: $soft-main-color;
          }

          &.three {
            background: $mixed-main-complementary;
          }

          &.four {
            background: $mixed-main-white;
          }

          &.five {
            background: $mixed-main-black;
          }

          &.six {
            background: $desaturated-main-color;
          }
        }

        &.secondary {
          &.one {
            background: $complementary-color;
            margin-right:50px;
          }

          &.two {
            background: $soft-secondary-color;
          }

          &.three {
            background: $mixed-secondary-complementary;
          }

          &.four {
            background: $mixed-secondary-white;
          }

          &.five {
            background: $mixed-secondary-black;
          }

          &.six {
            background: $desaturated-secondary-color;
          }
        }
      }
    }

    &#pricing {
      display: flex;
      flex-direction: column;
      //color: $soft-main-complementary;

      div {
        display: flex;

        article {
          border:3px solid darkblue;
          margin-left:$default-margin;
          margin-right:$default-margin;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          flex-basis:calc(50% - #{$default-margin});
        }
      }
    }
  }
}

footer {
  padding:$default-padding;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
